@use "./variables" as *;

.about {
  margin-bottom: 4rem;
}

.about__text {
  color: $text-soft;
  margin-bottom: 1.1rem;
  max-width: 600px;
  line-height: 1.55;
}

/* ==========================
   TABLET - centered content
========================== */
@media (min-width: $bp-sm) and (max-width: $bp-lg) {
  .about, .section-title, .about__text {
    text-align: center;
    margin: 2.5rem auto;
  }
}
