.certificates {
  margin-bottom: 4rem;
}

.certificates__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.cert-tile-wrapper {
  display: block;
}

/* Kafelek */
.cert-tile {
  display: block;
  background: #1f1f1f;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  height: auto;   
  transition: 0.25s ease;

  &:hover {
    transform: translateY(-4px);
    background: #292929;
  }
}

/* Obrazek */
.cert-tile__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cert-tile__image img {
  width: 100%;
  height: auto;
  object-fit: cover; 
  display: block;
  background: #111; 
  transition: transform 0.5s ease;
}

.cert-tile:hover .cert-tile__image img {
  transform: scale(1.03);   
}

@media (max-width: 700px) {
  .certificates__grid {
    grid-template-columns: 1fr;
  }

  .cert-tile {
    height: 230px;
  }
}
