.hero {
  margin-bottom: 4rem;
  position: relative;
}

.hero__title {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 1rem;
  letter-spacing: -0.02em;
}

.hero__subtitle {
  font-size: 1rem;
  color: #aaa;
  max-width: 550px;
  line-height: 1.6;
}

.hero__scroll-indicator {
  margin-top: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  position: absolute;
  right: 32rem;   
  top: 90%;    
  transform: translateY(-50%);
}

.hero__scroll-icon {
  width: 32px;
  height: 32px;

  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  color: #e5e5e5;
  opacity: 0.9;

  transition: 0.25s ease;
}

.hero__scroll-indicator:hover .hero__scroll-icon {
  border-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

/* ==========================
   TABLET HORIZONTAL CARD
   from ~700px to ~1200px
========================== */
@media (min-width: 700px) and (max-width: 1200px) {
  .hero, .hero__title, .hero__subtitle {
    text-align: center;
    margin: 3rem auto;
  }

  .hero__scroll-indicator {
    top: 80%;
    right: 50%;
  }
}