@import "./variables";

.nav {
  position: sticky;
  top: 24px;
  z-index: 2000;
  display: none;

  // display: flex;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  padding: 2rem;
}

/* glass panel */
.nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  max-width: 850px;

  padding: 0.75rem 1.5rem;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.045);
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);

  transition: all 0.3s ease;
}

/* Drobna zmiana przy scrollu */
.nav--scrolled .nav__inner {
  background: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.12);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.28);
}

/* Links */
.nav__links {
  display: flex;
  gap: 1.3rem;
}

.nav__links a {
  color: $text-muted;
  font-size: 0.82rem;
  transition: 0.2s ease;

  &:hover {
    color: $text-primary;
  }
}

/* Mobile (Seera also hides nav links) */
@media (max-width: 820px) {
  .nav__links {
    display: none;
  }

  .nav__inner {
    padding: 0.6rem 1rem;
  }
}

@media (max-width: 820px) {
  .nav {
    display: none;
  }
}


.nav__lang {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.75rem;
}

.nav__lang button {
  background: transparent;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-weight: 500;
  padding: 0.2rem 0.3rem;
  transition: 0.2s ease;
}

.nav__lang button:hover {
  color: #fff;
}

.nav__lang button.active {
  color: #fff;
}

.nav__lang span {
  opacity: 0.5;
}
