.profile-card {
  background: #1f1f1f;
  padding: 2rem;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  text-align: center;
  position: sticky;
  top: 2rem;
  color: white;
  margin-top: 4rem;
  transition: margin-top 0.9s ease;
}

.profile-card__photo {
  max-width: 100%;
  width: 80%;
  height: 250px;
  border-radius: 18px;
  background: url("/karolina.jpg") center/cover no-repeat;
  margin-bottom: 1rem;
}

.profile-card__name {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.profile-card__role {
  color: #cccccc;
  margin: 0;
}

.profile-card__location {
  color: #aaaaaa;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin: 0;
}

.profile-card__socials {
  display: flex;
  gap: 1rem;
  padding-left: 0;

  li {
    width: 22px;
    height: 22px;
    color: #aaa;  
    transition: 0.25s;
    cursor: pointer;
    list-style-type: none;

    &:hover {
      color: #fff;
    }
  }
}

@media (max-width: 820px) {
  .profile-card__photo {
    width: 60% !important;
    justify-content: center;
    margin: 0 auto;
  }
}