.skills {
    margin-bottom: 4rem;
  }
  
  .skills__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
  }
  
  .skill-tag {
    padding: 0.45rem 0.9rem;
    background: #1f1f1f;
    border-radius: 8px;
    font-size: 0.9rem;
    color: white;
  }
  
  /* ==========================
   TABLET HORIZONTAL CARD
   from ~700px to ~1200px
========================== */
@media (min-width: 700px) and (max-width: 1200px) {
  .skills {
    text-align: center;
  }

  .skills__categories {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2.5rem;
    max-width: 700px; 
    margin: 0 auto 4rem auto;
  }

  .skills__grid {
    justify-content: center;
  }

  .skill-tag {
    margin: 0;
  }
}

