@import "./variables";
@import "./global";

@import "./MobileIconBar";
@import "./Hero";
@import "./Projects";
@import "./About";
@import "./Skills";
@import "./Certificates";
@import "./ProfileCard";
@import "./Footer";
